hosts:
  - 1513629884013:
      url: "https://{{ wazuh_manager_ip }}"
      port: 55000
      username: "{{ wazuh_manager_username }}"
      password: "{{ wazuh_manager_password }}"
      run_as: false