version: "3.9"

services:
  wazuh-manager:
    image: wazuh/wazuh-manager:4.10.3
    ports:
      - "0.0.0.0:1514:1514/udp"
      - "0.0.0.0:1515:1515"
      - "0.0.0.0:55000:55000"
    networks:
      - wazuh-overlay
    secrets:
      - source: root-ca.pem
        target: /etc/wazuh-manager/certs/root-ca.pem
        uid: "999"
        gid: "999"
        mode: 0400
      - source: wazuh.manager.pem
        target: /etc/wazuh-manager/certs/manager.pem
        uid: "999"
        gid: "999"
        mode: 0400
      - source: wazuh.manager-key.pem
        target: /etc/wazuh-manager/certs/manager-key.pem
        uid: "999"
        gid: "999"
        mode: 0400
    environment:
      - INDEXER_URL=https://wazuh-indexer:9200
      - API_USERNAME=wazuh-wui
      - API_PASSWORD=MyS3cr37P450r.*-
      - WAZUH_MANAGER_CERT=/etc/wazuh-manager/certs/manager.pem
      - WAZUH_MANAGER_KEY=/etc/wazuh-manager/certs/manager-key.pem
      - WAZUH_CA_CERT=/etc/wazuh-manager/certs/root-ca.pem
    depends_on:
      - wazuh-indexer
    deploy:
      replicas: 1
      placement:
        constraints: [node.role == manager]

  wazuh-indexer:
    image: wazuh/wazuh-indexer:4.10.3
    hostname: wazuh.indexer
    restart: always
    ports:
      - "0.0.0.0:9200:9200"
    networks:
      - wazuh-overlay
    environment:
      - "OPENSEARCH_JAVA_OPTS=-Xms1g -Xmx1g"
      - "plugins.security.ssl.transport.pemcert_filepath=/usr/share/wazuh-indexer/certs/wazuh.indexer.pem"
      - "plugins.security.ssl.transport.pemkey_filepath=/usr/share/wazuh-indexer/certs/wazuh.indexer.key"
      - "plugins.security.ssl.transport.pemtrustedcas_filepath=/usr/share/wazuh-indexer/certs/root-ca.pem"
      - "plugins.security.ssl.http.enabled=true"
      - "plugins.security.ssl.http.pemcert_filepath=/usr/share/wazuh-indexer/certs/wazuh.indexer.pem"
      - "plugins.security.ssl.http.pemkey_filepath=/usr/share/wazuh-indexer/certs/wazuh.indexer.key"
      - "plugins.security.ssl.http.pemtrustedcas_filepath=/usr/share/wazuh-indexer/certs/root-ca.pem"
      - "plugins.security.nodes_dn=CN=wazuh.indexer,OU=Wazuh,O=Wazuh,L=California,C=US"
      - "plugins.security.authcz.admin_dn=CN=admin,OU=Wazuh,O=Wazuh,L=California,C=US"
      - "plugins.security.check_snapshot_restore_write_privileges=true"
      - "plugins.security.enable_snapshot_restore_privilege=true"
      - "plugins.security.system_indices.enabled=true"
      - "plugins.security.system_indices.indices=[.plugins-ml-model, .plugins-ml-task, .opendistro-alerting-config, .opendistro-alerting-alert*, .opendistro-anomaly-detector*, .opendistro-asynchronous-search-response*, .opendistro-ism-*, .opendistro-knn-models, .opendistro-notebooks, .opendistro-reports-*, .opensearch-observability, .opensearch-sap-log-types-config, .opensearch-sap-* .opendistro-sql-*, .opensearch-dashboards]"
      - "network.host=0.0.0.0"
      - "node.name=wazuh.indexer"
      - "cluster.initial_master_nodes=wazuh.indexer"
      - "cluster.name=wazuh-cluster"
      - "discovery.type=single-node"
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - wazuh-indexer-data:/var/lib/wazuh-indexer
      - wazuh-indexer-logs:/var/log/wazuh-indexer
      - /home/mleo691/config/wazuh_indexer_ssl_certs/wazuh-certificates/root-ca.pem:/usr/share/wazuh-indexer/certs/root-ca.pem
      - /home/mleo691/config/wazuh_indexer_ssl_certs/wazuh-certificates/wazuh.indexer-key.pem:/usr/share/wazuh-indexer/certs/wazuh.indexer.key
      - /home/mleo691/config/wazuh_indexer_ssl_certs/wazuh-certificates/wazuh.indexer.pem:/usr/share/wazuh-indexer/certs/wazuh.indexer.pem
      - /home/mleo691/config/wazuh_indexer_ssl_certs/wazuh-certificates/admin.pem:/usr/share/wazuh-indexer/certs/admin.pem
      - /home/mleo691/config/wazuh_indexer_ssl_certs/wazuh-certificates/admin-key.pem:/usr/share/wazuh-indexer/certs/admin-key.pem
      

  wazuh-dashboard:
    image: wazuh/wazuh-dashboard:4.10.3
    ports:
      - "0.0.0.0:443:5601"
    networks:
      - wazuh-overlay
    secrets:
      - source: root-ca.pem
        target: /etc/wazuh-dashboard/certs/root-ca.pem
        uid: "1000"
        gid: "1000"
        mode: 0400
      - source: wazuh.dashboard.pem
        target: /etc/wazuh-dashboard/certs/dashboard.pem
        uid: "1000"
        gid: "1000"
        mode: 0400
      - source: wazuh.dashboard-key.pem
        target: /etc/wazuh-dashboard/certs/dashboard-key.pem
        uid: "1000"
        gid: "1000"
        mode: 0400
    environment:
      - OPENSEARCH_HOSTS=https://wazuh-indexer:9200
      - WAZUH_API_URL=https://wazuh-manager
      - API_USERNAME=wazuh-wui
      - API_PASSWORD=MyS3cr37P450r.*-
      - DASHBOARD_CERT=/etc/wazuh-dashboard/certs/dashboard.pem
      - DASHBOARD_KEY=/etc/wazuh-dashboard/certs/dashboard-key.pem
      - CA_CERT=/etc/wazuh-dashboard/certs/root-ca.pem
    depends_on:
      - wazuh-indexer
      - wazuh-manager
    deploy:
      replicas: 1

secrets:
  root-ca.pem:
    external: true
  wazuh.manager.pem:
    external: true
  wazuh.manager-key.pem:
    external: true
  wazuh.indexer.pem:
    external: true
  wazuh.indexer-key.pem:
    external: true
  wazuh.dashboard.pem:
    external: true
  wazuh.dashboard-key.pem:
    external: true

volumes:
  wazuh-indexer-data:
  wazuh-indexer-logs:

networks:
  wazuh-overlay:
    driver: overlay
    driver_opts:
      encrypted: "true"
    attachable: true
